<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Booking System</title>
</head>
<body>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="no_of_people">No of People</label>
    <input type="number" id="num_of_people" min="1" max="12">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="comment">Comments:</label>
    <input type="text" id="comment" name="comment" >

    <input type="submit" value="Book Table">
  </form>
  
</body>
</html>